* linguist-vendored

*.sql linguist-vendored=false
*.sql linguist-language=SQL
*.sql linguist-detectable=true

*.html linguist-vendored=false
*.html linguist-language=HTML
*.html linguist-detectable=true

*.js linguist-vendored=false
*.js linguist-language=JavaScript
*.js linguist-detectable=true

*.php linguist-vendored=false
*.php linguist-language=PHP
*.php linguist-detectable=true

*.svg linguist-vendored=false
*.svg linguist-language=HTML
*.svg linguist-detectable=true

*.css linguist-vendored=false
*.css linguist-language=CSS
*.css linguist-detectable=true

kill-server linguist-vendored=false
kill-server linguist-language=Shell
kill-server linguist-detectable=true
