{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "requirePragma": false,
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "bracketSameLine": false,
    "arrowParens": "avoid"
}