#add-student-year {
    width: 80px;
}

#add-student-email {
    max-width: 350px;
    width: 95%;
}

.student-link {
    border: none;
    text-underline: #575757;
    font-size: 18px;
}

.student-link:hover {
    cursor: pointer;
}

#add-student-by-email input {
    margin-top: 20px;
}

#add-student-by-email {
    border-bottom: 1px solid var(--border);
    padding-bottom: 20px;
}

#drop-file-zone {
    min-height: 100px;
    margin: 50px 20px 20px 20px;
    padding: 20px;
    background: var(--bg-accent);
    text-align: center;
}

#drop-file-zone:hover {
    background: var(--bg);
    border: 2px dashed var(--border-light);
}

#drop-file-inp {
    font-size: 15px;
    border: none;
}

#loading-bar-container {
    width: 100%;
    background: var(--bg);
    height: 20px;
    border-radius: 10px;
    display: none;
}

#loading-bar {
    background: var(--accent);
    height: 20px;
    border-radius: 10px;
    width: 0;
}

#filters-button {
    padding: 5px;
    font-size: 20px;
}

#filters-container {
    position: relative;
}

#filters-dropdown {
    position: absolute;
    display: none;
    border: 1px solid var(--border);
    background: var(--bg-accent);
    width: fit-content;
    min-width: 230px;
    top: 30px;
    left: 0;
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    min-height: 50px;
}

#filters-container:hover #filters-dropdown {
    display: block;
}

#filters-container:hover #filters-dropdown button {
    font-size: medium;
    text-decoration: underline;
}